---
import { getDayFromDate, getHourFromDate } from "../../../utils/date"

export interface EventDateItemProps {
  nameSession: string
  date: string
}

const { nameSession, date } = Astro.props

const dayDate = getDayFromDate({date})
const hourDate = getHourFromDate({date})
---

<li class="font-medium flex justify-between items-center">
  <span style={{flex: '0 0 28%'}} >{nameSession}</span>
  <span class="opacity-75" >{dayDate}</span>
  <span class="bg-orange bg-opacity-75 text-white px-2 py-1 rounded-md" >{hourDate}</span>
</li>