---
import { Event } from "../../../types/calendar"
import EventDateItem  from "./event-date-item.astro"
import { getMonthFromDate, getDayNumberFromDate } from "../../../utils/date"

export interface RaceCardProps {
  nextEvent: Event
}

const { nextEvent } = Astro.props

const month = getMonthFromDate({date: nextEvent.dates.race})
const dayInit = getDayNumberFromDate({date: nextEvent.dates.practice1 })
const dayEnd = getDayNumberFromDate({date: nextEvent.dates.race })

---
<article class="flex flex-col gap-2 bg-gray w-[359px] rounded-2xl px-4 py-4 text-green shadow-black-xl">
  <span class="uppercase font-bold text-white text-xs md:text-base">Next Race:</span>
  <h2 class="flex flex-col gap-2 text-xl md:text-3xl font-semibold uppercase">
    <span>{nextEvent?.name}</span>
    <span class="bg-green text-black px-2 py-1 text-sm md:text-xl font-light w-max border-orange border-2 rounded-md" >
      {month} {dayInit} - {dayEnd}
    </span>
  </h2>
  <ul class="flex flex-col gap-2 my-5 w-72">
    <EventDateItem client:visible nameSession="Practice 1" date={nextEvent.dates.practice1} />
    {nextEvent.dates.practice2 && <EventDateItem client:visible nameSession="Practice 2" date={nextEvent.dates.practice2} />}
    {nextEvent.dates.practice3 && <EventDateItem client:visible nameSession="Practice 3" date={nextEvent.dates.practice3} />}
    <EventDateItem client:visible nameSession="Qualifying" date={nextEvent.dates.qualifying} />
    {nextEvent.dates.sprintShootout && <EventDateItem client:visible nameSession="Sprint Shootout" date={nextEvent.dates.sprintShootout} />}
    {nextEvent.dates.sprint && <EventDateItem client:visible nameSession="Sprint" date={nextEvent.dates.sprint} />}
    <EventDateItem client:visible nameSession="Race" date={nextEvent.dates.race} />
  </ul>
  <a target="_blank" class="bg-white text-black font-semibold px-2 py-1 rounded-2xl w-max shadow-black" href={nextEvent?.url} >Go to the full Schedule</a>
</article>