---
import { getChampionship } from '../../../utils/championship'
const standings = await getChampionship()
---

<style>
	.drop-shados-text {
		-webkit-text-fill-color: red; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 0.6px;
		-webkit-text-stroke-color: black;
	}
</style>
<section
	class='flex flex-col bg-lemon border-4 rounded-2xl p-4 border-black text-black w-full max-w-sm shadow-black gap-5'
>
	<h2 class='flex flex-col gap-2'>
		<span class='font-bold'>CHAMPIONSHIP:</span>
		<span
			class='font-medium bg-purple text-white px-2 py-1 text-sm md:text-xl w-max border-black border-2 shadow-black-sm rounded-md'
			>F1 Drivers 2023</span
		>
	</h2>
	<div class='grid grid-cols-2 gap-5'>
		{
			standings.map((driver) => (
				<article
					class={`relative h-max ${
						driver.rank % 2 ? 'mt-9' : 'mt-14'
					} flex flex-col bg-yellow text-black uppercase px-1 pt-5 pb-1 w-full border-black border-2 shadow-black-sm rounded-md`}
				>
					<span class='absolute -top-8 text-red font-bold text-5xl drop-shados-text'>
						{driver.rank}
					</span>
					<div class='self-end absolute top-0'>
						<span class='font-bold'>{driver.points}</span>
						<span class='font-bold text-xs text-gray'>pts</span>
					</div>
					<span class='leading-none'>{driver.firstName}</span>
					<span class='font-bold text-xl leading-none'>{driver.lastName}</span>
					<span class='font-bold text-sm text-gray '>{driver.team}</span>
				</article>
			))
		}
	</div>
</section>
