---
import Layout from '../../layouts/Layout.astro'
import { readDBFile } from '../../../db'
import type { Event } from '../../../types/calendar.ts'
import { RaceCard } from '../../components/race-card'

export async function getStaticPaths() {
	const events = (await readDBFile('schedule')) as Event[]

	const eventPaths = events.map((event) => ({
		params: { id: event.circuitId, event: event.name }
	}))

	return eventPaths
}

const { id } = Astro.params
const events = (await readDBFile('schedule')) as Event[]
const eventInfo = events.find((event) => event.circuitId === id)
---

<Layout tabTitle={`Schedule for ${eventInfo.shortName} | Welcome to the Formula Fan Page`}>
	<h1
		class='text-3xl md:text-5xl font-extrabold uppercase pt-5 text-center text-balance pb-10'
		transition:name='event-name'
	>
		GP of {eventInfo.shortName}
	</h1>
	<main class='flex flex-col md:flex-row gap-4'>
		<RaceCard client:load nextEvent={eventInfo} showNextRaceLabel={false} />
		<section class='p-4 bg-gray rounded-3xl w-full'>
			<h2 class='text-2xl font-semibold'>Results</h2>
			{
				eventInfo.results && eventInfo.results.podium && eventInfo.results.podium.length > 0 ? (
					<div class='flex flex-col justify-between mt-5'>
						<section>
							<h3 class='text-xl font-semibold text-yellow mb-3'>Podium</h3>
							<ul class='flex flex-col gap-3'>
								<li class='font-semibold flex justify-between items-center px-2 py-1 text-gray'>
									<span>Driver</span>
									<span>Time</span>
								</li>
								{eventInfo.results.podium.map((podium, index) => (
									<li class='font-semibold flex justify-between items-center bg-yellow px-2 py-1 border-black border-2 shadow-black-sm text-black'>
										<span class='text-xl'>
											<span class='text-gray'>{index + 1}</span> {podium.driver}
										</span>
										<span class='text-success'>{podium.time}</span>
									</li>
								))}
							</ul>
						</section>
						<a
							target='_blank'
							class='bg-white text-black font-semibold px-2 py-1 rounded-2xl w-max shadow-black-sm border-black border-2 mt-7'
							href={eventInfo.results.fullResults}
						>
							Go to the full Results
						</a>
					</div>
				) : (
					<p class='text-orange'>No results available yet</p>
				)
			}
		</section>
	</main>
</Layout>
