---
import Layout from '../../layouts/Layout.astro'
import { readDBFile } from '../../../db'
import type { Event } from '../../../types/calendar.ts'
import { RaceCard } from '../../components/race-card'

export async function getStaticPaths() {
	const events = (await readDBFile('schedule')) as Event[]

	const eventPaths = events.map((event) => ({
		params: { id: event.circuitId, event: event.name }
	}))

	return eventPaths
}

const { id } = Astro.params
const events = (await readDBFile('schedule')) as Event[]
const eventInfo = events.find((event) => event.circuitId === id)
---

<Layout
	tabTitle={`Schedule for ${eventInfo.shortName} | Welcome to the Formula Fan Page`}
	titlePage={`Schedule for ${eventInfo.name}`}
>
	<RaceCard client:load nextEvent={eventInfo} showNextRaceLabel={false} />
	<section class='min-w-full bg-glass p-4'>
		<h2 class='text-2xl font-semibold'>Results</h2>
		{
			eventInfo.results && eventInfo.results.podium && eventInfo.results.podium.length > 0 ? (
				<div>
					<h3>Podium</h3>
					<ul>
						{eventInfo.results.podium.map((podium) => (
							<li>
								{podium.driver}-{podium.time}
							</li>
						))}
					</ul>
				</div>
			) : (
				<p class='text-orange'>No results available yet</p>
			)
		}
	</section>
</Layout>
