---
import '@fontsource/space-grotesk'
import { type Event } from '../../types/calendar'
import { getDayNumberFromDate, getMonthFromDate } from '../../utils/date'
interface Props {
	event: Event
}

const { event } = Astro.props

const hasSprint = Object.keys(event.dates).includes('sprint')

const backgroundColorState = {
	canceled: 'text-red',
	schedule: 'text-orange text-black',
	finished: 'text-lemon text-black'
}
---

<a
	href={`calendar/${event.circuitId}`}
	class='flex flex-row justify-between py-3 px-4 rounded-2xl font-bold min-w-[360px] md:min-w-full bg-gray hover:bg-white hover:text-black transition-all duration-300 ease-in-out'
>
	<div class='flex flex-col gap-2'>
		<span class='text-2xl uppercase' transition:name='event-name'>
			{event.shortName}
		</span>
		<span class='text-sm opacity-40 border-t border-white border-opacity-40'>{event.name}</span>
		{
			event.dates.race && (
				<span>
					{event.fallbackDate}{' '}
					<span
						class={`capitalize ${backgroundColorState[event.state]} py-1 px-2 text-sm h-fit self-end`}
					>
						{event.state}
					</span>
				</span>
			)
		}
		{hasSprint && <span class='text-sm opacity-40'>Sprint</span>}
	</div>
</a>
